@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bottom-text,
.full-page-text {
  box-shadow: 0px -10px 10px rgba(50, 50, 50, 0.3);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.8) 15%, rgba(255,255,255,0.8) 85%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  font-size: 19pt;
  z-index: 2;
}

.full-page-text {
  height: 100vh;
}

.text-wrapper {
  padding: 10px;
  width: 70%;
  margin: auto;
  height: 100%;
}

.full-page-text .text-wrapper {
  height: 90%;
  overflow: scroll;
  text-align: center;
  padding-top: 50px;
}

.next-text {
  position: absolute;
  bottom: 5px;
  right: 7%;
  font-size: 12pt;
  font-weight: 700;
  color: #E85A4F;
}

.visual-novel-text {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 200px);
  justify-content: space-evenly;
}

.visual-novel-button {
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #e8594fe0 15%, #E85A4Fe0 85%, rgba(255,255,255,0) 100%);
  width: 60%;
  height: 50px;
  color:aliceblue;
  z-index: 10;
}

.next-dialog {
  color: #E85A4F;
  position: absolute;
  bottom: 5px;
  right: 7%;
  font-size: 18pt;
  font-weight: 700;
  z-index: 10;
}

.submit-text {
  margin: auto;
  display: flex;
  height: 100%;
  width: 300px;
  z-index: 30;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text-input {
  width: 400px;
  height: 50px;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid #E85A4F;
}

.button-color {
  background-color: #E85A4F;
  width: 200px;
  height: 40px;
  color: #f4f4f4;
}

.peng {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 600px;
}

.blackbg {
  background-color: #000000ae;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

