@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/StartScreen.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: #556688;

  font-family: "Podkova", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
